.section-result {
  padding-top: 8em;
  padding-bottom: 11em;

  h3 {
    text-align: center;
    font-size: 53px;
    line-height: 65px;
    color: #4b4334;
  }
  .results-container {
    padding-top: 4.75em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .result-card {
      width: 27vw;
      max-width: 380px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;
      font-size: 27px;
      line-height: 38px;
      letter-spacing: 0.27px;
      color: $font-text-light-gray;
      font-family: $base-text-font;
      font-weight: 400;
    }

    .result-middle-card {
      margin-top: 125px;
    }

    .result-card img {
      max-width: 275px;
      object-fit: cover;
    } 
  }

  @include for-phone-only {
    padding-top: 6.5em;
    padding-bottom: 7.6em;
    h3 {
      font-size: 28px;
    }

    .results-container {
      padding-top: 71px;
      flex-direction: column;
      align-items: center;
      gap: 100px;

      .result-card {
        width: max-content;
        max-width: 310px;
        font-size: 21px;
        line-height: 1.55;
        gap: 35px;
      }

      .result-middle-card {
        margin: 0;
      }
    } 
  }
}